<div class="d-flex justify-content-center vh-100">
    <div class="card shadow w-50 h-auto my-auto">
        <div class="card-header">
            <h4>
                <i class="bi bi-person-plus-fill"></i> Registrar usuario
            </h4>
        </div>
        <div class="card-body">
            <form [formGroup]="formularioRegistro" (ngSubmit)="crearUsuario()">    
                <div class="row row-cols-2 mb-3 g-2">
                    <div class="col-md-12">
                        <label class="form-label">Nombre completo</label>
                        <input type="text" class="form-control" formControlName="nombreCompleto">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Usuario</label>
                        <input type="text" class="form-control" formControlName="usuario">
                    </div>
                </div>
                <div class="row row-cols-2 mb-3 g-2">
                    <div class="col-md-6">
                        <label class="form-label">Contraseña</label>
                        <input type="password" class="form-control" formControlName="contrasena">
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Confirmar Contraseña</label>
                        <input type="password" class="form-control" formControlName="contrasena_confirmation">
                    </div>
                </div>
                <div class="d-grid gap-2 mb-2">
                    <button type="submit" class="btn btn-primary">
                        <i class="bi bi-person-plus-fill"></i> Registrarse
                    </button>
                </div>
                <div class="d-flex justify-content-center">
                    <a routerLink="" class="text-center">Ya estoy registrado</a>
                </div>
            </form>
        </div>
    </div>
</div>
